body {
  background-color: blue;
}
header {
  width: 70%;
    height: 200px;
    margin: 0 auto;
    background-image: url(burmese_towers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  height: 10px;
  width: 100%;
  vertical-align: middle;
}


.discContainer {

  display: inline-block;
  height: 300px;
  width: 25%;
  background-color: #ccc;
  border: none;
  border-radius: 30px;
  vertical-align: middle;

}
.disc {
  height: 10%;
  border-radius: 30px;
  background-color: orange;
  border: solid #000;
  border-width: 3px;
  margin: 0 auto;
  cursor: move;
}
#discOne {
  width:30%;
  margin: 0 auto;
}
#discTwo {
  width: 63%;
  margin: 0 auto;
}

#discThree {
  width:97%;
  margin: 0 auto;
}
