body {
  background-color: blue;
}
header {
  width: 70%;
    height: 200px;
    margin: 0 auto;
    background-image: url(burmese_towers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  height: 10px;
  width: 100%;
  font-size: 22px;
  color: white;
}
.wrapper{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.discContainer {
  display: inline-block;
  min-height: 100px;
  width: 250px;
  background-color: #ccc;
  border: 5px solid black;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 2px black;
  -ms-box-shadow: 3px 2px 2px black;
  box-shadow: 3px 2px 2px black;
  vertical-align: middle;*/
  background-image: url(#);
  background-size:cover;
  background-repeat: no-repeat;

}

.disc {
  height: 10%;
  width: 30%;
  background-color: orange;
  border: solid #000;
  border-width: 3px;
  -webkit-border-radius: inherit;
  -ms-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  -webkit-box-shadow: inherit;
  -ms-box-shadow: inherit;
  box-shadow: inherit;
  margin: 0 auto;
  cursor: move;

}

/*.dropped {
  height: 10%;
  background-color: purple;
  border: solid #000;
  border-width: 3px;
  -webkit-border-radius: inherit;
  -ms-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  -webkit-box-shadow: inherit;
  -ms-box-shadow: inherit;
  box-shadow: inherit;
  margin: 0;
  cursor: move;
  bottom:0px;
  top: 0px;
  left: 0px;
  right: 0px;
}
*/
#formHolder {
  min-height: 100;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 15px;


}
#submit {
  width:100px;
  padding: 5px;
}

span {
  color: white;
}
.instructions {
  min-width: 100px;
  min-height: 100px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 30px;
}
